<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <thead>
            <th>姓名</th>
            <th>年龄</th>
            <th>电话</th>
            <td>课程</td>
            <th>操作</th>
        </thead>
        <tbody>
            {% for stu in students %}
                <tr>
                    <td>{{ stu.s_name }}</td>
                    <td>{{ stu.s_age }}</td>
                    <td>{{ stu.studentinfo.tel }}</td>
                    <td>
                        {% for cou in stu.course_set.all %}
                            {{ cou.c_name }}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="/add_info/?stu_id={{ stu.id }}">添加扩展信息</a>
                        |
                        <a href="/add_stu_course/?stu_id={{ stu.id }}">添加课程</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>