<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生信息</title>
</head>
<body>
    {% for stu in stus %}
        <p>id: {{ stu.id }} 姓名:{{ stu.s_name }}</p>
    {% endfor %}
    当前一共{{ paginate.pages }}页
    {% if paginate.has_prev %}
        <a href="{{ url_for('app.sel_stu') }}?page={{ paginate.prev_num }}">上一页</a>
    {% endif %}

    {% for i in paginate.iter_pages() %}
        <a href="{{ url_for('app.sel_stu') }}?page={{ i }}">{{ i }}</a>
    {% endfor %}

    {% if paginate.has_next %}
        <a href="{{ url_for('app.sel_stu') }}?page={{ paginate.next_num }}">下一页</a>
    {% endif %}


</body>
</html>